.game-canvas {
    background-color: black;
    display: block;
    aspect-ratio: 720 / 480;
}

.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 36px;
    margin-right: 36px;
}

.gameWinOverDialog {
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: transparent;
}

.gameWinOverDialog::backdrop {
    background: rgba(0, 0, 0, 0.8);
}

.dialogContent {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: transparent;
}


.gameOverImg,
.gameWinImg {
    width: min(62vw, 800px);
    height: min(62vh, 600px);
    aspect-ratio: 4 / 3;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.gameOverImg {
    background-image: url('../img/You won, you lost/Game-Over.png');
}

.gameWinImg {
    background-image: url('../img/You won, you lost/You Win A.png');
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
    background-color: rgba(84, 18, 27, 1);
    border-radius: 15px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    margin-top: 28px;
    gap: 12px;
    box-sizing: border-box;
}

.main-game:fullscreen {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: black;
    display: grid;
    place-items: center;
}

.main-game:fullscreen .game-canvas {
    width: 100vw;
    height: 86vh;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 720 / 480;
}

.game-controls {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 36px;
    gap: 12px;
}

.btn-control {
    width: 32px;
    height: 32px;
    padding: 8px;
    border: none;
    border-radius: 50%;
    background-color: rgb(245, 178, 44);
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.btn-control:hover {
    background-color: rgb(196, 74, 55);
    box-shadow: 0 0 10px 5px rgba(245, 178, 44, 0.2);
}

.icon-audio-on,
.icon-audio-off,
.icon-reload,
.icon-play,
.icon-pause,
.icon-fullscreen,
.icon-exit-fullscreen,
.left-icon,
.right-icon,
.jump-icon,
.throw-icon,
.icon-menu {
    height: 20px;
    width: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.icon-audio-on {
    background-image: url('../img/custom/volume_up.svg');
}

.icon-audio-off {
    background-image: url('../img/custom/volume_off.svg');
}

.icon-reload {
    background-image: url('../img/custom/reload.svg');
}

.icon-play {
    background-image: url('../img/custom/play.svg');
}

.icon-pause {
    background-image: url('../img/custom/pause.svg');
}

.icon-fullscreen {
    background-image: url('../img/custom/open_in_full.svg');
}

.icon-exit-fullscreen {
    background-image: url('../img/custom/close_fullscreen.svg');
}

.left-icon {
    background-image: url('../img/custom/walk-left-icon.svg');
}

.right-icon {
    background-image: url('../img/custom/walk-right-icon.svg');
}

.jump-icon {
    background-image: url('../img/custom/jump-icon.svg');
}

.throw-icon {
    background-image: url('../img/custom/throw-icon.svg');
}

.icon-menu {
    background-image: url('../img/custom/mMenu.svg');
}

.mobile-game-button-panel {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mobile-btn-left,
.mobile-btn-right {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.winLostGameAnimation {
    animation: winLostGameAnimation 2s ease-in-out;
}

@keyframes winLostGameAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}