@media(max-width: 1020px) {

    h1 {
        font-size: 92px;
    }

}


@media(max-width: 890px) {

    h1 {
        font-size: 86px;
    }

}

@media(max-width: 870px), (max-height: 840px) {

    h1 {
        font-size: 76px;
    }


    .start-image {
        width: 637px;
        height: 393px;
    }

}

@media(max-width: 750px) {

    h1 {
        font-size: 65px;
    }

}


@media only screen and (max-width: 760px) {
    .game-canvas {
        width: 90%;
    }
}

@media only screen and (max-height: 500px) {
    .game-canvas {
        height: calc(100vh - var(--height-header) - 54px);
    }

    .game-container {
        width: 100%;
        height: calc(100vh - var(--height-header) - 54px);
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        margin-top: 28px;

    }

    .main-game{
        padding-top: 0 !important;
    }

}

@media(max-width: 710px), (max-height: 720px) {

    h1 {
        font-size: 58px;
    }

    .start-image {
        width: 496px;
        height: 308px;
    }

    .btn-lager {
        width: 163px;
        padding: 10px 25px;
        font-size: 20px;
    }

    .body-game{
        background-image: none;
        background-color: rgb(84, 18, 27);
    }

}


@media(max-height: 580px) {

    h1 {
        font-size: 56px;
    }

    .h1-start,
    .h1-game,
    .h2-game {
        display: none;
    }

    .nav-content {
        justify-content: space-between;
        padding-left: 12px;
        padding-right: 12px;
    }

    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        display: flex;
    }
    .nav-game{
        display: none;
    }

    .main-game{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding-top: 0 !important;
        margin-top: 0 !important;
    }

    #fullScreenButton{
        display: none;
    }

    .mobile-menu-box.isGame{
        top:60px
    }

    .game-container{
        padding: 0;
        margin-top: 0;
    }

    :root {
        --height-header: 32px;
    }

    .button-group {
        display: none;
    }

    .option-group {
        margin-top: 10px;
    }
}

@media (prefers-reduced-motion: reduce) {
    .mobile-menu-box {
        transition: none;
    }
}