.option-overlay{
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.4);
}

body{
    color: black;
    font-family: 'Baloo-2-medium', sans-serif;
    font-size: 16px;
}

input {
    color: black;
    font-family: 'Baloo-2-medium', sans-serif;
    font-size: 16px;
    padding: 4px 8px;
    border: 1px solid var(--border-normal);
    border-radius: 4px;
}

.option-group{
    margin-top: 24px;
    height: 487px;
    width: 400px;
    background-color: rgb(231, 228, 228);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.option-group-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    height: 85%;
    overflow-y: auto;
    width: 100%;
    gap: 24px;
}

.option-fieldset{
    border: none;
    outline: none;
}

.game-settings-container{
    display: flex;
    flex-direction: column;
}

.setting-label{
    margin-top: 16px;
}

.option-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.select-container{
    position: relative;
    width: 100%;
    height:45px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 5;
    border: 1px solid var(--border-normal);
    border-radius: 4px;
    background-color: white;
}

.select-container-active{
    border: 2.5px solid var(--border-active) !important;
}

.select-container-input{
    width: calc(100% - 40px);
    height: 100%;
    margin-left: 2px;
    padding: 4px 8px;
    border: none;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    cursor: pointer;
}

.select-container-input::placeholder{
    color: black;
    font-family: 'Baloo-2-medium', sans-serif;
    font-size: 16px;
}

.select-container-button{
    position: absolute;
    right: 0;
    width: 36px;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-show div{
    width: 24px;
    height: 24px;
    background-image: url('../img/custom/arrow-down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.btn-hide div{
    width: 24px;
    height: 24px;
    background-image: url('../img/custom/arrow-up.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.select-list-container{
    background-color: white;
    box-sizing: border-box;
    position: relative;
    transform: translateY(-25px);
    height: auto;
    max-height: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 0px 0px 8px 8px;
    z-index: 1;
    transition: max-height 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.list-scroll{
    overflow: unset !important;
}

.select-list {
    width: 100%;
    margin-top: 28px;
    margin-bottom: 14px;
    height: auto;
    max-height: 0;
    background-color: white;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: stretch;
    gap: 4px;
    overflow: hidden;
    transition: max-height 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.safe-options-dialog{
    width: 300px;
    height: 150px;
    border: none;
    border-radius: 18px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.safe-options-dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.4);
}

.safe-options-dialog>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 24px;
    padding-left: 16px; 
    padding-right: 16px;
}

.safe-options-dialog span{
    font-size: 18px;
    text-align: center;
}

.safe-dialog-show {
    animation: slide-Dialog-in-from-bottom 900ms ease-in;
}

@keyframes slide-Dialog-in-from-bottom {
    from {
        transform: translateY(1000%);
    }

    to {
        transform: translateY(0%);
    }
}