@font-face {
    font-family: 'Lilita-One';
    src: url('../fonts/LilitaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Baloo-2-regular';
    src: url('../fonts/Baloo2-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Baloo-2-bold';
    src: url('../fonts/Baloo2-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Baloo-2-extra-bold';
    src: url('../fonts/Baloo2-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Baloo-2-semi_bold';
    src: url('../fonts/Baloo2-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Baloo-2-medium';
    src: url('../fonts/Baloo2-Medium.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('../img/custom/cactus-background.jpg');
    background-size: cover;
    background-position: center center;
}

h1 {
    font-family: 'Lilita-One', cursive;
    font-size: 105px;
    color: rgba(12, 12, 12, 1);
    text-shadow: 0px 4px 4px rgba(246, 150, 45, 0.6);
    margin: 20px 0;
}

.site-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-div {
    position: relative;
    top: 20px;
    left: 20px;
    width: 300px;
    height: 300px;
    background-image: url('../img/2_character_pepe/1_idle/idle/I-2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

nav {
    background-color: rgba(84, 18, 27, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-content {
    height: 64px;
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.btn {
    font-family: 'Baloo-2-medium', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.btn-yellow {
    background-color: rgb(245, 178, 44);
    color: rgb(84, 18, 27);
}

.btn-yellow:hover {
    background-color: rgb(196, 74, 55);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    color: rgb(242, 175, 41);
}

.btn-yellow-active {
    background-color: rgb(196, 74, 55);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    color: rgb(242, 175, 41);

}

.btn-orange {
    background-color: rgb(255, 95, 51);
    color: rgb(22, 15, 16);
    box-shadow: 5px 6px 15px 6px rgba(0, 0, 0, 0.2);
}

.btn-orange:hover {
    background-color: rgb(241, 215, 64);
    box-shadow: 5px 6px 15px 6px rgba(0, 0, 0, 0.1);
    color: rgb(44, 11, 2);
    
}



.btn-lager {
    width: 208px;
    padding: 15px 30px;
    font-size: 24px;
    border-radius: 12px;
}

.btn-lg{
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.button-group {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 30px;
}

.visually-hidden {
    position: absolute;
    left: -9999px;
}